<form
  class="flex flex-col w-full justify-center"
  [formGroup]="form"
  (ngSubmit)="onsubmit()"
>

  <div class="flex flex-col w-full justify-center h-full items-center">
    <h3 class="m-5 text-2xl font-bold">log in componenet</h3>
    <div class="flex flex-col justify-center">
      <p class="flex justify-center font-bold">username</p>
      <app-input
        [control]="f.username"
        label=""
        placeholder="please enter your username"
      ></app-input>
    </div>
    <div class="flex flex-col justify-center">
      <p class="flex justify-center font-bold">password</p>
      <app-input
        [control]="f.password"
        label=""
        type="password"
        placeholder="please enter password"
      ></app-input>
    </div>
  </div>
  <ng-container
    class="flex w-full justify-center"
    *ngIf="showErrorPasswordDontMatch()"
  >
    <div
      class="w-full h-16 bg-red-500 flex justify-center items-center text-center rounded-xl shadow-xl p-2 font-bold"
      *ngIf="form.hasError('noConnection')"
    >
      please check your network
    </div>
    <div
      class="w-full h-16 bg-red-500 flex justify-center items-center text-center rounded-xl shadow-xl p-2 font-bold"
      *ngIf="form.hasError('Credential')"
    >
      username or password is incorrect
    </div>
  </ng-container>
  <div class="flex justify-center">
    <button
      [disabled]="form.invalid"
      class="bg-green-600 w-40 justify-center h-12 rounded-lg font-bold mt-2"
      type="submit"
    >
      log in
    </button>
  </div>
</form>
